.episode {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 10px;
}

.episode:nth-of-type(odd) {
    background: #fbfbfb;
}

.episode:nth-of-type(even) {
    background: #f6f6f5;
}

.episode img {
    height: 140px;
}

.episode-info {
    height: 100%;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.episode-info p {
    margin: 0;
    margin-bottom: 2px;
    font-size: 14px;
}

p.episode-name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}


/* RESPONSIVE */
@media (max-width: 910px) {
    .episode {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .episode-info {
        margin-top: 10px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}