.summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 900px;
    width: 100%;
    margin: 20px auto;
    font-size: 14px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 10px;
}

.summary img {
    min-width: 210px;
}

.summary-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.summary-info p {
    margin: 0;
}

.summary .search-btn:first-of-type {
    margin-right: 10px;
}


/* RESPONSIVE */
@media (max-width: 700px) {
    .summary {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .summary img {
        margin-bottom: 20px;
    }

    .summary-btns {
        text-align: center;
        margin-top: 20px;
    }

    .summary-btns .search-btn {
        margin: 5px !important;
    }
}

@media (max-width: 349px) {
    .summary-btns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}